@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fredoka:wght@300;400;500;600;700&family=Dancing+Script:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body bg-sky-100 text-gray-800 antialiased overflow-x-hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-party;
}